
.card {
    background-color: #ffffff;
    display: flex;
    position: relative;
    padding: 30px;
}

.memeText {
    position: absolute;
    font-size: 70px;
    color: rgb(132, 79, 79);
    top: 150px;
    left: 280px;
}

