:root {
    /* Colours */
    --color-text-1: #ffffff;
    /* --color-text-2: #000000;
    --color-primary: #000000;
    --color-secondary: #d2e5fc;
    --color-dark: #577192;
    --color-bg: #000000; */
    
    --color-top: #1e283a;

    /*button Colours */
    --btncolor-3: #0ea6e9;
    --btncolor-2: #38bdf8;
    --btncolor-1: #38bdf8;
    /* --btncolor-g: #55b165;
    --btncolor-y: #b4af4d;
    --btncolor-r: #d24242; */
  
    /* Fonts */
    --font-roboto: "Roboto";
  }
  