:root {
    /* Colours */
    --color-text-1: #ffffff;

    
    --color-top: #1e283a;

    /*button Colours */
    --btncolor-3: #136833;
    --btncolor-2: #3e1d72;
    --btncolor-1: #246d8d;

    --textcolor-3: #39de78;
    --textcolor-2: #7a41d6;
    --textcolor-1: #45afdd;
  
    /* Fonts */
    --font-roboto: "Roboto";
  }
  